<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%- include('./common/bootstrap.ejs')%>
    </head>
    <body>
        <%- include('./common/header.ejs')%>
        <form action="/register" method="POST" class="w-50 mx-auto mt-5">
            <div class="mb-3">
                <label for="text" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="text" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">이름을 입력해 주세요.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">이메일을 입력해 주세요.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password" />
                <div id="emailHelp" class="form-text">비밀번호를 입력해 주세요.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Age</label>
                <input name="age" type="text" class="form-control" id="text" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">나이를 입력해 주세요.</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Hobby</label>
                <input name="hobby" type="text" class="form-control" id="text" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">취미를 입력해 주세요.</div>
            </div>

            

            <button type="submit" class="btn btn-secondary">Sign Up</button>
        </form>
    </body>
</html>
