<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="userFile" />
        <input type="submit" value="전송하기" />
    </form>

    <br><br><br><br><br><br>
    <hr>

    <form action="/upload-multiple" method="POST" enctype="multipart/form-data">
        <input type="file" name="many" multiple />
        <input type="submit" value="전송하기">
    </form>

    <br><br><br><br><br><br>
    <hr>
    <a href="/download">download</a>
    <br><br><br><br><br><br>
    <hr>
    <a href="/download-zip">download-zip</a>
    <br><br><br><br><br><br>
    <hr>
</body>
</html>